/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Text color (dark gray) #2b2b2b: ;
Primary color (white): #ffffff;
Secondary color (lightgrey): #d3d3d3;
Third color (tomato): #ff6347; 
Green color: #038146; */

*{
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-style: italic;
  font-variant: inherit;
  font-weight: 800;
  line-height: 1.6;
}


h1 {
  color: #000000;
  font-size: 30px;
  font-weight: 700;

}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

a {
  color: #000000;
  text-decoration: unset;
}

a:hover {
  color: #ff6347;
  text-decoration: none;
}

a:focus {
  color: #ff6347;
  text-decoration: none;
}

a:active {
  color: #2b2b2b;
}

p {
  color: #2b2b2b;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.animated-block {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.animated-block.active {
    opacity: 1;
    transform: translateY(0);
}

.project-item {
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 20px;
  width: calc(100% - 40px);
  display: flex;
  flex-direction: row;
  overflow: auto;
  height: 400px;
  box-sizing: border-box;
}

.project-item p{
margin-top: 10px;
margin-bottom: 10px;
}

.invitation-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.active-gray-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8080802e;
    padding: 5px 15px;
    border-radius: 10px;
}

.item-reverse {
  flex-direction: row-reverse;
}

.img-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: #8080801a;
}

.project-img {
  height: 350px;
}

.svg-decor-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-item-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px 5px 40px
}

@media all and (max-width: 700px) {
  .project-item {
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 20px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: fit-content;
  box-sizing: border-box;
}

.project-item-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px 0 10px
}

.item-reverse {
  flex-direction: column;
}
}

.profile {
  display: block;
  text-align: center;
  width: auto;
  padding: 10px;
}

.profile__pic {
  border-radius: 50%;
  float: left;
  height: auto;
  width: 500px !important;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Tag styling */
.tags {
  margin-bottom: 15px;
}

.tag {
  display: inline-block;
  border-radius: 4px;
  padding: 3px 10px;
  background: #808080;
  color: #ffffff;
  margin: 5px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.tag:hover {
  -webkit-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  transform: translate(0, -2px);
}

.page-header {
  border-bottom: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
  top: 0;
  width: auto;
  position: sticky;
  justify-content: center;
    align-items: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);  
    z-index: 99999;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;

}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.page-footer {
  background-color: #ffffff;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

/* .work-container {
    display: inline-block;
}

.work-item {
    position: relative;
}
.work-item {
    width: 350px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
} */

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px 300px;
  grid-template-columns: 300px 300px 300px;
  -ms-grid-rows: 300px 300px;
  grid-template-rows: 300px 300px;
}

.grid>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid>*:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid>*:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid>*:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.grid>*:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.grid__item {
  background-color: #d3d3d3;
  padding: 20px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}

/* end grid fallback */

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;

  }

  .grid__item {
    background-color: #d3d3d3;
    width: auto;
    min-height: auto;
    margin: 0;
  }

}

.profile-about {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 60px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);    
    width: 70%;
    border-radius: 15px;
}

.contact {
  margin: 40px;
}

.navigation-list__item {
  color: #000000
}

.navigation-list__item:hover {
  color: #ff6347;
}

.navigation-list__item:focus {
  color: #ff6347;
}

.page-footer>p {
  margin-bottom: 16px;
  margin-top: 0;
}

.page-footer {
  padding: 16px;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;

  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }

}


@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 10px
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: auto;
  background-color: #da3d00;
  color: #ffffff;
  text-decoration: none;
  height: 40px;
  min-width: 100px;
  padding: 10px;
  border-radius: 10px;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* styling goes here */
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  color: #000000;
}

@-webkit-keyframes st-1 {
  0% {
    fill: #000000;
  }

  50% {
    fill: #da3d00;
  }

  100% {
    fill: #ff0000;
  }

}

@keyframes st-1 {
  0% {
    fill: #000000;
  }

  50% {
    fill: #da3d00;
  }

  100% {
    fill: #ff0000;
  }

}

@-webkit-keyframes star {
  0% {
    fill: #000000;
  }

  50% {
    fill: #da3d00;
  }

  100% {
    fill: #ff0000;
  }

}

@keyframes star {
  0% {
    fill: #000000;
  }

  50% {
    fill: #da3d00;
  }

  100% {
    fill: #ff0000;
  }

}

@-webkit-keyframes moon {
  0% {
    fill: #000000;
  }

  50% {
    fill: #da3d00;
  }

  100% {
    fill: #ff0000;
  }

}

@keyframes moon {
  0% {
    fill: #000000;
  }

  50% {
    fill: #da3d00;
  }

  100% {
    fill: #ff0000;
  }

}

.st1-1 {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-name: st-1;
  animation-name: st-1;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}


.star {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-name: star;
  animation-name: star;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.moon {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-name: moon;
  animation-name: moon;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes leaf {
  from {
    fill: #466EB6;
  }

  to {
    fill: #13375B;
  }

  from {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }

  to {
    -webkit-transform: translate(40px, 50px);
    transform: translate(40px, 50px);
  }

}

@keyframes leaf {
  from {
    fill: #466EB6;
  }

  to {
    fill: #13375B;
  }

  from {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }

  to {
    -webkit-transform: translate(40px, 50px);
    transform: translate(40px, 50px);
  }

}

.leaf {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-name: leaf;
  animation-name: leaf;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.aboutme {
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-name: slidein;
  animation-name: slidein;
}

.aboutwork {
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-name: slidein;
  animation-name: slidein;
}

.leaf-front {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: leaf;
  animation-name: leaf;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes plant-move-reverse {
  from {
    -webkit-transform: translate(10px, 8px);
    transform: translate(10px, 8px);
  }

  to {
    -webkit-transform: translate(20px, 8px);
    transform: translate(20px, 8px);
  }
}

@keyframes plant-move-reverse {
  from {
    -webkit-transform: translate(10px, 8px);
    transform: translate(10px, 8px);
  }

  to {
    -webkit-transform: translate(20px, 8px);
    transform: translate(20px, 8px);
  }
}

.leaf-back {
  -webkit-animation: 3s plant-move-reverse infinite alternate linear;
  animation: 3s plant-move-reverse infinite alternate linear;
}

@-webkit-keyframes lamp {
  from {
    fill: #363636;
  }

  to {
    fill: #466EB6;
  }
}

@keyframes lamp {
  from {
    fill: #363636;
  }

  to {
    fill: #466EB6;
  }
}

.lamplight {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-name: lamp;
  animation-name: lamp;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.navigation-list__item--active {
  color: #da3d00;
  text-decoration: none;
}

/* Small devices */
@media only screen and (max-width: 500px) {
  .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 30px;
    padding: 10px;
    width: auto;
  }

  .profile__pic {
    width: 200px;
  }
}

/* Large devices */
@media only screen and (min-width: 500px) and (max-width: 1100px) {
  .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 30px;
    padding: 10px;
    width: auto;
  }

  .profile__pic {
    width: 200px;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
}

.profile-section {
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.styled-input {
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    border: 2px solid #80808045;
}

.styled-textfield {
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #80808045;
}

.styled-button {
  border: 2px solid #8080803d;
    height: 50px;
    border-radius: 10px;
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 700px) {
.profile__pic {
  width: 200px !important;
};
.profile-about {
  width: 90% !important;
  padding: 40px;
  gap: 15px; 
};
}